.l-mast {
  @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
    height: rem(63px);
    @include display-flex;
    @include flex-flow(row, nowrap);  
    @include justify-content(space-between);
  }

  border: 4px dotted green;

  &__logo {
    height: 100%;
    border: 4px dotted green;
    @include display-flex;
    @include flex-flow(row, nowrap);  
    @include justify-content(center);
  }

  &__nav {    
    height: 100%;
    // border: 4px dotted green;
    @include display-flex;
    @include flex-flow(row, nowrap);  
    @include justify-content(space-between);
    @include align-items(stretch);
  }

  &__nav-item {
    height: 100%;
    @include display-flex;
    @include flex-flow(column, nowrap);  
    @include justify-content(center);
  }

  &__nav-link {
    height: 100%;
    vertical-align: middle;
  }
}