.l-section-module__content-wrapper {
  position: relative;
}

.l-slider-buttons {  
  display: none;
  @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    transform: translateY(-35%);
    @include display-flex;
    @include flex-flow(row, nowrap);  
    @include justify-content(space-between);
    @include align-items(center);
  }
}
