.l-section-module__content-wrapper {
  position: relative;
}

.l-slider-buttons {
  pointer-events: none;
  .js & {
    display: none;
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      position: absolute;
      left: 0;
      right: 0;
      top: 40%;
      transform: translateY(-40%);
      @include display-flex;
      @include flex-flow(row, nowrap);  
      @include justify-content(space-between);
      @include align-items(center);
    }
  } 
  .no-js & {
    display: none;
  }  

  * {
    pointer-events: auto !important;
  }
}
