.l-terms {
  &__header {
    margin-bottom: 1.25em;
  }
  &--wide {
    margin-top: rem(60px);
    padding-top: 2em;
    padding-bottom: 2em;
    display: none;
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) { 
      display: block;
    }
  }
}