.l-mobile-sub-menu {
  z-index: 50;
  width: 100%;
  padding-top: 1em; 
  padding-bottom: 1em; 
  margin-top: rem(153px);
  background: $color-alabaster;
  position: fixed;
  @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
    display: none;
    visibility: hidden;
  }
}

.l-mobile-sub-menu-list {
  @include display-flex;
  @include flex-flow(row, nowrap);
  @include justify-content(space-between);
  @include scroll-x;
  &__item {
    margin-right: 1em;
    flex-grow: 0;
    flex-shrink: 0;
    width: 105px;
  }
  &__item:last-child {
    margin-right: 0;
  }
}