html {
  height: 100%;
}

body {
  height: 100%;
}


/**
 * The Scaffold is the element that ties the entire website and its major layout components together. 
 * It's just another word for 'wrapper' or 'main wrapper'
 */
 .l-scaffold {
  height: 100%;
  @include display-flex;
  @include flex-flow(column, nowrap);  

  @include mq(min, rem(800px)) {
    @include flex-flow(row, nowrap);  
  }
}

// .l-aside,
// .l-main {
//   border: 3px dotted blue;
// }