.l-main-bar {
  overflow-y: visible;
  position: fixed;
  width: 100%;
  height: rem(153px);
  @include display-flex;
  @include flex-flow(column, nowrap);
  @include justify-content(space-between);  
  @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
    width: auto;
    position: static;
    height: calc(100vh - 63px);
    min-width: rem(263px);
    @include justify-content(flex-start);
  }

  
}

.l-rewards-points {
  width: 100%;
  height: 100%;
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
    @include justify-content(flex-start);
    @include align-items(center);
    height: rem(100px);
  }
  &__container {
    min-width: 20%;
    max-width: 20em;
    position: relative;
    padding: 1em;
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      min-width: inherit;
      max-width: inherit;
    }
  }

  &__value {
    position: relative;
  }

  &__drop-down {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0; bottom: 0; right: 0;
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      display: none;
    }

    svg {
      position: absolute;
      right: -5%;
      bottom: 30%;
    }
    
  }  
}

.l-menu-list {
  min-height: rem(48px);
  overflow-x: scroll;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  @include display-flex;
  @include flex-flow(row, nowrap);
  @include justify-content(space-between);
  @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
    @include flex-flow(column, nowrap);
    overflow-x: hidden;
    padding-top: 2em;
  }
  
  &::-webkit-scrollbar  {
    width: 0;
    height: 0;
  }

  &__item {
    @include display-flex;
    @include flex-flow(column, nowrap);
    @include justify-content(center);
    flex-grow: 0;
    flex-shrink: 0;
    width: auto;
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      @include justify-content(flex-start);
      @include flex(1,0,auto);
      margin-bottom: 2em;
    }
  }
}

.l-menu {
  width: 100%;
  @include flex-flow(column, nowrap);
  @include align-items(center);

  @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
    @include justify-content(flex-start);
  }

  &__item {
    width: 100%;
    // border: 2px dotted yellow;
    padding: .5em 0;
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      @include display-flex;
      @include flex-flow(row, nowrap);
    }
  }
}

.l-sub-menu-list {
  display: none;
  @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
    display: block;
  }
}

.l-mobile-sub-menu-list {
  @include display-flex;

}