.l-main-content {
  z-index: 0;
  .with-mobile-sub-menu & {
    margin-top: rem(199px);
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      margin-top: rem(50px);
    }
  }
  
  .no-mobile-sub-menu & {
    margin-top: rem(149px);
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      margin-top: 0;
    }
  }

  @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
    margin-top: 0;
    max-height: calc(100vh - 63px);
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    @include flex(1, 1, 100%);
  }
  &__inner {
    overflow-x: visible;
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      // padding: rem(52px) rem(46px) 0 rem(46px);
    }
  }
}

