/**
 * The Scaffold is the element that ties the entire website and its major layout components together. 
 * It's just another word for 'wrapper' or 'main wrapper'
 */
 .scaffold {
    height: 100%;
    background-color: $color-alabaster;
    display: flex;
    flex-flow: column wrap;
    
    @include respond-to(">800px") {
      flex-flow: row nowrap;
    }
 }