.c-table {
  width: 100%;
  &__preposition {
    text-align: left;
    color: $color-gull-gray;
  }
  &__label {
    text-align: left;
  }
  &__value {
    text-align: right;
  }
  
  td {
    padding-bottom: .4em;
  }
}


