.c-card { 
  color: $color-blue-zodiac;
  overflow: hidden;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid $color-smalt;
  }

  &__image {
    color: $color-gull-gray;
    display: block;
    border-radius: 0 4px 4px 0;
    box-shadow: map-get($shadow-orientations, 'shadow-orientation-1') map-get($shadow-colors, 'shadow-color-1');
  }

  &__sub-content {
    color: $color-gull-gray;
    display: block;
    border-right: 1px solid rgba($color-gull-gray, .20);
  }



  &__label, 
  &__title, 
  &__detail {
    line-height: 1.3;
  }

  &__label, &__title {
    margin-bottom: .3em;
  }

  &__label {
    color: $color-gull-gray;
    font-size: rem(9px);
  }

  &__label--new::after {
    content: 'New';
    color: $color-label-positive;
    text-transform: uppercase;
    padding-left: 1.2em;
    display: inline-block;
  }

  &__label--confirmed::after {
    content: 'Confirmed';
    color: $color-label-positive;
    text-transform: uppercase;
    padding-left: 1.2em;
    display: inline-block;
  }

  &__title, &__detail {
    white-space: nowrap;
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      // white-space: nowrap;
    }
  }

  &__title {
    color: $color-blue-zodiac;
    font-size: rem(13px);
    font-weight: 600;
  }

  &__detail {
    color: $color-gull-gray;
    font-size: rem(9px);
  }

}

.c-card--large {
  &:hover {
    border-color: transparent;
  }
  
  &__label, 
  &__title, 
  &__detail {
    line-height: 1.9;
    margin-bottom: 0;
  }

  &__title {
    font-size: rem(16px);
  }
}

.c-card--style-1 {
  background: #fff;
  box-shadow: map-get($shadow-orientations, 'shadow-orientation-1') map-get($shadow-colors, 'shadow-color-1');
  border-radius: map-get($border-radii, 'border-radius-1');
  border: map-get($border-widths, 'border-width-1');  
}

.c-card--style-2 {
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  border: none;
}
