.c-section {
  padding: 2em 0;

  // &--full-width {

  // }

  // &--padded {

  // }

  &--bottom-bordered {
    border-bottom: 1px solid $color-alto;
  }

  &--rounded {
    border-radius: 21px;
  }

  &--rounded-mobile {
    border-radius: 21px 21px 0 0;
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      border-radius: 0;
    }
  }

  &--white-bg {
    background: #fff;
  }

  &--transparent-bg {
    background: transparent;
  }
}