.c-menu {
  color: #fff;
  font-size: rem(12px);
  border: 1px solid yellow;
  
  &__header {
    text-align: center;
  }

  &__title {
    opacity: .75;
    color: #fff;
    text-decoration: none;
    border: 1px solid yellow;
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      text-transform: uppercase;
      opacity: 1;
      font-size: rem(11px);
      letter-spacing: rem(1px);
    }
  }
  
  &__title:hover,
  &__title:active {
    opacity: 1;
  }  

  &__item {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
  }
}
