.c-voucher {
  @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
    background-color: #fff !important;
  }
  &__header {
    margin-bottom: 2em;
  }
  &__image-container {
    border-radius: 0 0 30px 30px;
    overflow: hidden;
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      border-radius: 0;
    }
  }

  &__image {
    display: block;
    width: 100%;
    
  }

  &__content {
    padding-top: 2em;
  }
  &__label {
    color: $color-gull-gray;
    font-size: rem(map-get($type-scale, 's'));
  }

  &__title {
    font-size: rem(map-get($type-scale, 'xl'));
    font-weight: 600;
  }


}
