.c-section {
  padding: 25px 0;


  
  // &--full-width {

  // }

  // &--padded {

  // }

  &--bottom-bordered {
    border-bottom: 1px solid $color-alto;
  }

  &--rounded {
    border-radius: 21px;
  }

  &--rounded-mobile {
    border-radius: 21px 21px 0 0;
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      border-radius: 0;
    }
  }

  &--white-bg {
    background: #fff;
  }

  &--transparent-mobile-white-desktop-bg {
    background: transparent;
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      background: #fff;
    }
  }

  &--transparent-desktop-white-mobile-bg {
    background: #fff;
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      background: transparent;
    }
  }

  &--transparent-bg {
    background: transparent;
  }
}

.c-bonus-rewards {
  box-shadow: map-get($shadow-orientations, 'shadow-orientation-3') rgba($color-gull-gray,0.13);
  &\@hands-wide {
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      box-shadow: none;
      box-shadow: 0;
    }
  }
}

.c-voucher-details {
  box-shadow: 0;
  &\@hands-wide { 
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      box-shadow: map-get($shadow-orientations, 'shadow-orientation-3') rgba($color-gull-gray,0.13);
    }
  }
}

.c-transfer-points {
  box-shadow: 0;
  &\@hands-wide { 
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      box-shadow: map-get($shadow-orientations, 'shadow-orientation-3') rgba($color-gull-gray,0.13);
    }
  }
}
