.c-menu {
  color: #fff;
  font-size: rem(map-get($type-scale, 'ss'));
  @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
    font-size: rem(map-get($type-scale, 'm'));
  }

  &__header {
    text-align: center;
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      text-align: left;
    }
  }

  &__title {
    opacity: .75;
    color: #fff;
    text-decoration: none;
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      text-transform: uppercase;
      opacity: 1;
      font-size: rem(map-get($type-scale, 'sss'));
      letter-spacing: rem(1px);
    }
  }

  &__title--first-item {
    opacity: .75;
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      padding: 1em 0 1em 4em;
    }
  }

  &__title--first-item--is-active, &__title--first-item:hover {
    opacity: 1;
  }

  &__title--my-rewards {
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      background: url(../../svg/svg-source/c-white__fab-icon.svg) 0 0 ;
      background-repeat: no-repeat;
    }
  }

  &__title--my-miles {
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      background: url(../../svg/svg-source/c-white__travel.svg) 0 0;
      background-repeat: no-repeat;
    }
  }
  
  &__title:hover,
  &__title:active {
    opacity: 1;
  }  

  &__item {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      opacity: .50;
    }
  }

  &__item--is-active, &__item:hover {
    opacity: 1;
  }

  &__icon {
    width: 30px;
    height: 30px;
    margin-right: 2em;
  }

  &__label {
    vertical-align: middle;
    line-height: rem(30px);
  }
}

