.c-card { 
  color: $color-blue-zodiac;
  overflow: hidden;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid $color-smalt;
  }

  &__image {
    color: $color-gull-gray;
    display: block;
    border-radius: 0 4px 4px 0;
    box-shadow: map-get($shadow-orientations, 'shadow-orientation-1') map-get($shadow-colors, 'shadow-color-1');
  }

  &__label, 
  &__title, 
  &__detail {
    line-height: 1.7;
  }

  &__label {
    color: $color-gull-gray;
    font-size: rem(9px);
  }

  &__label--new::after {
    content: 'New';
    color: $color-label-positive;
    text-transform: uppercase;
    padding-left: 1.2em;
    display: inline-block;
  }

  &__title {
    color: $color-blue-zodiac;
    font-size: rem(13px);
    white-space: nowrap;
  }

  &__detail {
    color: $color-gull-gray;
    font-size: rem(9px);
    white-space: nowrap;
  }

  &__value {
    font-weight: 600;
  }

  &__value::after {
    content: ' - ';
    padding-left: .2em;
    padding-right: .2em;
  }

}

.c-card--large {
  &:hover {
    border-color: transparent;
  }
  
  &__label, 
  &__title, 
  &__detail {
    line-height: 1.9;
  }

  &__title {
    font-size: rem(16px);
  }
}

.c-card--style-1 {
  background: #fff;
  box-shadow: map-get($shadow-orientations, 'shadow-orientation-1') map-get($shadow-colors, 'shadow-color-1');
  border-radius: map-get($border-radii, 'border-radius-1');
  border: map-get($border-widths, 'border-width-1');  
}

.c-card--style-2 {
  background: transparent;
}

