.c-circle-chart {
  position: relative;
  width: 236px;
  height: 135px;

  &::before {
    position: absolute;
    content: '';
    width: inherit;
    height: inherit;
    border-bottom: none;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
  }  
}

.c-chart {
  border: 1px solid red;
  position: relative;
  &__visual {
    width: 100%;
    height: 300px;
  }

  &__text {
    position: absolute;
    right: 0;
    bottom: 0;
    
  }
  
}

