.c-popup {
  background: #fff;
  padding: 3rem 2rem;
  .js & {
    border-radius: 15px;
    max-width: 90%;
  }
  .no-js & {
    border-radius: 0;
    max-width: 100%;
  }
  max-width: 90%;
  @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
    max-width: 40%;
  }
  
}

.c-popup-terms {
  margin-top: 1.3em;
  text-align: center;
  font-size: rem(map-get($type-scale, 'm'));
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
    display: none;
  }

  span {    
    padding: 1em 3em 1em 2em;
    background: url('../../svg/svg-source/c-blue__arrow-right.svg') no-repeat right/24px;
  }
}

