.c-toggle {
  cursor: pointer;
  display: inline-block;   

  &__detail, &__title {
    line-height: 1.3;
  }  

  &__title {
    color: $color-blue-zodiac;
    font-size: rem(11px);
    font-weight: 600;
    margin-bottom: .5em;
  }

  &__detail {
    color: $color-gull-gray;
    font-size: rem(9px);
  }

    
}

.c-toggle__checkbox:checked + .c-toggle__icon-container > path {
  fill: red;
}