
.c-main-bar {
  @include flexbox(column, nowrap, space-between)
  color: #fff;
  height: 15.3rem;

  background: linear-gradient(124deg, $color-fab-gradient-stp1 7%, $color-fab-gradient-stp2 50%);
  @include respond-to('>50rem') {
    background: red;
    // background: linear-gradient(30deg, $color-fab-gradient-stp1 0%, $color-fab-gradient-stp2 82%);
  }
}

.c-menu-container {
  background-color: rgba($color-blue-zodiac, .25);
  border-top: 1px solid rgba($color-blue-zodiac, .3);
  width:100%;
}

.l-menu-array {
  height: 5rem;
  display: flex;
  @include flexbox(row, nowrap, space-around);
  align-items: center;
}

.l-menu-item-array {
  display: none;
}

.c-menu__title[disabled] {
  opacity: .75;
}

