  /**
   * Set up a decent box model on the root element
   */
  html {
    box-sizing: border-box;
    overflow-y: scroll;
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      overflow-y: hidden;
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  :root,
  html {
    @include rem-baseline;
  }
 
  html, body {
    height: auto;
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      height: 100vh;
      min-height: -webkit-fill-available;
    }
    touch-action: pan-y;
  }

  body {
    background: $color-alabaster;
    overflow-y: scroll;
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      overflow-y: hidden;
    }
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }