.p-main-bar {
  color: #fff;
  background: $color-fab-linear-gradient-horizontal;
  @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
    background: $color-fab-linear-gradient-vertical;
  }

  &__nav {
    background: rgba($color-blue-zodiac, .25);
    border-top: 1px solid rgba($color-blue-zodiac, .5);
  }
}

.p-main-bar__nav\@hands-wide {
  @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
    background: transparent;
    border-top: 0;
  }
}