.p-main-bar {
  a {
    color: #fff;
    text-decoration: none;
  }
  color: #fff;
  background: $color-fab-linear-gradient-horizontal;
  @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
    background: $color-fab-linear-gradient-vertical;
  }

  &__nav {
    background: rgba($color-blue-zodiac, .25);
    border-top: 1px solid rgba($color-blue-zodiac, .5);
  }

  
}

.p-main-bar__nav\@hands-wide {
  @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
    background: transparent;
    border-top: 0;
  }
}

.p-rewards-points {
  @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
    background: rgba($color-blue-zodiac, .15);
    border-bottom: 1px solid rgba($color-dodger-blue, .4);
  }
  &__label, &__value {
    text-transform: uppercase;
    display: block;
    text-align: center;
    @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
      text-align: left;
    }
  }

  &__label {
    font-size: rem(12px);
    margin-bottom: .5em;
  }

  &__value {
    font-size: rem(20px);
  }
  
  
}


.p-main-bar__return {
  background: rgba($color-blue-zodiac, .30);
  border-top: 1px solid rgba($color-dodger-blue, .5);
}