.p-loyalty-nav-mobile {
  background: $color-fab-linear-gradient-horizontal;
  @include mq(min, rem(map-get($breakpoints, 'hands-wide'))) {
    display: none;
  }
  // top: 4rem;
  width: 100%;
  font-size: rem(12px);
  &__item {
    text-align: center;
    position: relative;
    display: block;
    padding: 2em 1.5em;
    border-top: 1px solid rgba($color-blue-zodiac, .5);
  }

  &__item--is-active, &__item:hover {
    background: rgba($color-blue-zodiac, .15);
  }

  &__item--is-active::before {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: url();
    
  }
}