// FAB REWARDS COLOR SCHEME
$color-blue-zodiac: #0C2340;
$color-smalt: #003C95;
$color-tundora: #4A4A4A;
$color-gull-gray: #9FA9B8;
$color-bright-turquoise: #07ECD7;
$color-yellow: #FFF500;
$color-radical-red: #FF2567;
$color-dodger-blue: #247CFF;



