// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------




/// Production languages
$en: 'en';
$ar: 'ar';




/// Text colors
/// @type color
$color-blue-zodiac:         #0C2340;
$color-smalt:               #003C95;
$color-tundora:             #4A4A4A;
$color-gull-gray:           #9FA9B8;
$color-alabaster:           #FAFAFA;
$color-bright-turquoise:    #07ECD7;
$color-yellow:              #FFF500;
$color-radical-red:         #FF2567;
$color-dodger-blue:         #247CFF;
$color-white:               #fff;
$color-fab-gradient-stp1:   #005FBC;
$color-fab-gradient-stp2:   #003187;
$color-fab-linear-gradient:   linear-gradient(164deg, $color-fab-gradient-stp1 7%, $color-fab-gradient-stp2 82%);





/// Regular font family
/// @type List
$font-stack-primary:        Graphik, sans-serif;
$font-stack-secondary:      FSMatthew, sans-serif;

// Monospace font family
/// @type List
$font-stack-monospace:      'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Container's maximum width
/// @type Length
// $max-width: px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'xs':     33rem,
  'sm':     37.5rem,
  'md':     120rem,
  'lg':     144rem,
);





/// Typography scale
$rem-base:  10px;
