.sub-bar {
  background-color: white;
  display: none; 
  
  @include generate-box-shadow('shadow-orientation-1', 'shadow-color-1');

  @include generate-border-radius(10px);

  @include respond-to(">800px") {
    display: flex;
    min-height: 6rem;
  }
}

