// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Production languages
$en: 'en';
$ar: 'ar';




/// Text colors
/// @type color
$color-blue-zodiac:         #0C2340;
$color-smalt:               #003C95;
$color-tundora:             #4A4A4A;
$color-gull-gray:           #9FA9B8;
$color-alto:                #CFCFCF;
$color-border-color:        #F0F0F0;
$color-alabaster:           #FAFAFA;
$color-bright-turquoise:    #07ECD7;
$color-yellow:              #FFF500;
$color-radical-red:         #FF2567;
$color-dodger-blue:         #247CFF;
$color-white:               #fff;
$color-fab-gradient-stp1:   #005FBC;
$color-fab-gradient-stp2:   #003187;
$color-fab-linear-gradient-horizontal:   linear-gradient(124deg, $color-fab-gradient-stp1 7%, $color-fab-gradient-stp2 50%);
$color-fab-linear-gradient-vertical:     linear-gradient(30deg, $color-fab-gradient-stp1 0%, $color-fab-gradient-stp2 82%);
$color-label-positive:      #6CAF2C;




/// Regular font family
/// @type List
$font-stack-primary:        Graphik, sans-serif;
$font-stack-secondary:      FSMatthew, sans-serif;

// Monospace font family
/// @type List
$font-stack-monospace:      'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Global Layout Padding
/// @type Length
$content-padding: 1.2rem;




/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'palm': 320px,
  'hands': 500px,
  'hands-wide': 675px,
  'lap': 1100px,
  'desk': 1600px,
  'wall': 2500px
);











// -----------------------------------------------------------------------------
// Visual compositions
// -----------------------------------------------------------------------------





/// Shadows
/// Shadow color values 
$shadow-colors: (
  'shadow-color-1': rgba($color-gull-gray,.13),
  'shadow-color-2': rgba(0,0,0,.05),
);

/// Shadow orientation values 
$shadow-orientations: (
  'shadow-orientation-1':  0 2px 4px 0,
  'shadow-orientation-2':  0 3px 6px 0,
  'shadow-orientation-3':  0 -4px 14px 0,
  'shadow-orientation-4':  0 1px 8px 0,
);




/// Borders
/// Border Radius
$border-radii: (
  'border-radius-1': 4px,
  'border-radius-2': 6px,
  'border-radius-3': 8px,
  'border-radius-4': 21px,
);

$border-widths: (
  'border-width-1':  1px solid rgba($color-gull-gray,0.19),
);