.o-input,
.o-output,
.o-dropdown {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid $color-botticelli;
  border-radius: 5px;
  padding: 1.6em 1em;
  font-size: rem(map-get($type-scale, 's'));
  color: $color-smalt;
}

.o-input,
.o-dropdown {
  background: #fff;
}

.o-output {
  background: $color-athens-gray;
}

.o-dropdown {
  text-transform: uppercase;
  background-image: url('../../svg/svg-source/c-blue__arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 30px;

  &--double-arrow {
    background-image: url('../../svg/svg-source/dropdown-double-arrows.svg');
    background-size: 24px;
  }

  &--tabbed {
    border-left: 4px solid $color-smalt;
  }
}
.o-dropdown:focus {
  outline: 0;
}