.o-header {
  font-size: rem(map-get($type-scale, 'l'));
  font-weight: 600;
  color: $color-smalt;
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
  &:hover {
    text-decoration: underline;
  }
}


.o-view-all {
  font-size: rem(map-get($type-scale, 'm'));
  font-weight: 600;
  display: block;
  text-decoration: none;
  padding-right: 24px;
  background: url('../../svg/svg-source/c-blue__arrow-right.svg') no-repeat right/24px;
  &:hover {
    text-decoration: underline;
  }
}