.o-toggle-switch {
  display: inline-block;
  background: $color-gull-gray;
  border-radius: 40px;
  min-width: 51px;
  min-height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
  &:before,
	&:after {
		content: "";
  }
  &:before {
    display: block;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 1px 0 rgba(0,0,0,0.05), 0 2px 2px 0 rgba(0,0,0,0.10), 0 3px 3px 0 rgba(0,0,0,0.05);
    width: 28px;
    height: 28px;
    position: absolute;
    top: 2px; left: 2px;
    transition: left 0.25s;
  }

  .o-toggle-checkbox:checked + & {
    background: linear-gradient(52deg, $color-fab-gradient-stp1 4%, $color-fab-gradient-stp2 50%);
		&:before {
      left: 21px;
		}
	}
}

.o-toggle-checkbox {
  position: absolute;
  visibility: hidden;
}