.o-input,
.o-output,
.o-dropdown {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid $color-botticelli;
  border-radius: 5px;
  padding: 1.6em 1em;
  font-size: rem(map-get($type-scale, 's'));
  color: $color-smalt;
}

.o-input,
.o-dropdown {
  background: #fff;
}

.o-input {
  &--with-error {
    border: 1px solid $color-radical-red;
    background-color: rgba($color-gull-gray, 0.11); 
    background: rgba($color-gull-gray, 0.11) url('../../svg/svg-source/error.svg') no-repeat center right 10px;   
  }
}

.o-output {
  background: $color-athens-gray;
}

.o-dropdown {
  text-transform: uppercase;
  background-image: url('../../svg/svg-source/c-blue__arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 30px;

  &--double-arrow {
    background-image: url('../../svg/svg-source/dropdown-double-arrows.svg');
    background-size: 24px;
  }

  &--tabbed {
    border-left: 4px solid $color-smalt;
  }
}
.o-dropdown:focus {
  outline: 0;
}

.o-error-message {
  text-transform: uppercase;
  color: $color-radical-red;
  margin: .75em 0;
  font-size: 65%;
}

.o-convert-icon {
  width: 30px; 
  height: 30px;
  flex: 0 0 30px;
  align-self:flex-start;
  background-image: url(../../svg/svg-source/c-blue__convert.svg);
}