.o-link {
  text-transform: capitalize;
  color: $color-smalt;
  font-size: rem(map-get($type-scale, 'm'));
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.o-helper-links {
  font-size: rem(map-get($type-scale, 'm'));
  font-weight: 600;
  display: block;
  text-decoration: none;
  color: $color-smalt;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
  &:hover {
    text-decoration: underline;
  }
}

.o-helper-links--arrow-right {
  padding-right: 24px;
  background: url('../../svg/svg-source/c-blue__arrow-right.svg') no-repeat right/24px;
}

.o-helper-links--arrow-left {
  padding-left: 24px;
  background: url('../../svg/svg-source/c-blue__arrow-left.svg') no-repeat left/24px;
}

.o-helper-links--filter {
  padding-right: 24px;
  background: url('../../svg/svg-source/c-blue__filter.svg') no-repeat right/24px;
  }